body{background: #F1F1F1;}
/*头部*/
.header{width: 100%;height: 60px;line-height: 60px;background-color: #464646;color: #FF3E3E;}
.header .HeadCter{width: 1200px;height: 60px;margin: auto;}
.header a.grid{color:#FF3E3E; font-size:18px; }
.header a:hover{text-decoration: underline;}
.header a.grid img{width: 34px;height: 38px;margin-right:10px; }
.header ul{float:right;}
.header ul li{display: inline-block;height:20px;line-height:20px;padding:0 15px;border-right:1px solid #E4682B;  }
.header ul li:last-child{margin:0;padding-right:0 ;border-right: none; }
.header ul a{color: #F78D59;font-size:16px; }
.header ul a:hover{color:yellow;text-decoration: underline;}



/*logo和search框*/
.LogoSearchBox{height: 177px;border-bottom: #E4682B 3px solid;background-color: #fff;}
.LogoSearchCter{width: 1200px;height: 131px;margin:0 auto; padding-top:23px;  }
.LogoSearchCter .logo{width: 270px;}
/*logo和菜单*/
.SearchNav{flex:2.7;position: relative;}
/*搜索框*/
.SearchInput{width: 482px;height: 44px;line-height: 44px;line-height: normal; border: #E4682B solid 1px;float:right; }
.SearchInput input{width: 390px;height:30px;line-height:30px;margin:7px 0;  font-size: 16px;padding:0 10px;border-right:2px solid #E4682B;float: left; line-height: normal;}
.SearchInput button{width:70px;height: 46px;cursor:pointer; background: url(../img/search.gif) no-repeat center ;}
/*菜单*/
.SearchNav .Nav{clear: both;height:50px;padding-top:50px; font-size: 24px;}
.SearchNav .Nav a{margin-left:100px; }
.SearchNav .active{color: #E4682B;}


/*主体内容*/
.content{width: 1200px;margin:20px auto;height: 1300px;}
.content-left{width: 183px;height: 1010px;float: left;}
.content-left div{width: 156px;background-color:#F4E9E3; color:#484848;margin-bottom: 6px;padding-left: 25px; }
.content-left div a:hover{color: red;text-decoration:underline;}
.content-left dl{font-size: 14px;}
.content-left dd{text-indent:1.5em;}
.nav-title{height: 171px;line-height: 171px;font-size: 24px;}
.my-order{height: 153px;}
.my-order dl{line-height: 30px;padding-top:20px;}

.my-coll{height: 112px;line-height: 112px;}
.change-info{height: 215px;}
.change-info dl{line-height:27px;margin-bottom: 30px;padding-top: 35px;}
.system-notice{height: 65px;line-height: 65px;}
.manage{height:126px;}
.manage dl{padding-top: 15px;}
.active{color: #FBC163;}





/*右边主体内容*/
.content-right{width: 993px;height: 1300px;float: right;}
.shopping-item{padding:12px;width: 969px;height: 166px;background: #fff; margin-bottom: 18px;}
.shopping-item .img-box{width: 260px;height: 164px;background: #B5B5B5;float: left;}
.shopping-info{margin-left: 40px;width: 667px;height: 164px;float: right;color:#9E9E9E;font-size: 14px;line-height: 25px; }
.shopping-info h1{font-size: 24px;color: #FAA718;margin-bottom:20px;}
.shopping-info p span{margin-right: 10px;}
.shopping-info p i{width:75px;display: inline-block;}
.shopping-info a{float: right;display: inline-block;padding-top:20px;color:#9E9E9E;  }
.shopping-info a:hover{color: red;text-decoration:underline;}
.footer{width: 100%;height: 250px;background: #474747;}
